.wait {
	cursor: wait;
}

.hidden {
	display: none;
}

#lookup-async-alert {
	position: fixed;
	bottom: 0;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(138, 138, 138, 0.7);
	-moz-box-shadow: 0px 0px 10px 3px rgba(138, 138, 138, 0.7);
	box-shadow: 0px 0px 10px 3px rgba(138, 138, 138, 0.7);
}

.normal-font-weight {
	font-weight: normal !important;
}

div.table {
	display: table;
    margin-bottom: .35em
}

div.tr {
	display: table-row;
}

div.td {
	display: table-cell;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.full-width {
    width: 100%
}

.just-added {
	background-color: yellow;
}

.transition {
	transition: all 1s linear;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-ms-transition: all 1s linear;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.multiple-select-text {
	padding-left: .7em;
}

.multiple-linkage {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid gray;
	background-color: #f8f8f8;
}

div.multiple-select-ul {
	padding-left: 1.5em;
}

div.multiple-select-item:first-child {
	margin-top: .5em;
}

.linkage-details-missing {
	color: #a94442;
}

.linkage-details-missing:hover {
	color: darkred;
}

span.multiple-select-id {
	padding-left: 1em;
	color: #5f5f5f;
}

.clickable {
	cursor: pointer;
}

.null {
	white-space: nowrap;
	font-size: 75%;
}


.nowrap {
	white-space: nowrap;
}

.fit {
	white-space: nowrap;
    width: 1%;
}

span.clipped_text {
	display:none;
}

a.clipped_text {
	font-style: italic;
}

.pager-prev, .pager-next {
	font-size: 1.5em;
}

.column-value {
	padding-top: .5em;
}

.space-top {
	margin-top: .5em;
}

.space-left {
	margin-left: .5em;
}

.space-right {
	margin-right: .5em;
}

.prefilled {
	display:none
}

span.required-indicator {
	color:red;
	font-weight:bold;
	font-size: 120%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.filename {
	margin-left: 1em;
}

.sort-search {
	font-size: 85%;
	text-align: left;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
}

#search-popover .popover {
	white-space: nowrap;
	max-width: 450px;
}

.dotted {
	border-bottom: 1px dotted #000;
    text-decoration: none;
}

.invisible {
	display: none;
}

.smsp {
	padding-left: .1em;
	padding-right: .1em;
}

div.form-loading {
	text-align: center;
	font-size: larger;
	padding: 2em 1em;
}

form.form-loading {
	display: none;
}

form.bg-gray .form-group:last-child {
	margin-bottom: 0;
}

.bg-gray {
	padding: 1em;
	background-color: rgb(248,248,248);
}

.col-sm-12 {
	padding: 0;
}

.page-jumper {
	padding-left: 1.5em;
	/*white-space: nowrap;*/
}

#searchtext {
	width: 120px;
}

:lang(ar) {
	font-size: 125%;
	line-height: 1em;
}

body,html{height:100%}

.fill-height {
	width: 100%;
}

#network-loading-progress {
	display: none;
	position: absolute;
	z-index: 555;
	width: 100%;
	text-align: center;
}

textarea.monospace, textarea#sql {
	font-family: monospace
}

.viz-options {
	margin-bottom: 0;
}

.viz-options > div {
	display: none;
}

#chart_div.result-column {
	/*background-color: rgb(248,248,248);*/
	border: 1px solid rgb(218,218,218);
	border-radius: 5px;
	padding: 10px;
	resize: vertical;
	overflow-x: auto;
	overflow-y: auto;
	min-height: 100px;
	height: 750px;
}

#chart_div.result-full {
	/*background-color: rgb(248,248,248);*/
	padding: 0;
	margin: 0;
	overflow: hidden;
	min-height: 100px;
	height: 750px;
}

ul.columns {
	margin-top: -10px;
	list-style: none;
	padding-left: 1em;
}

ol.columns {
	margin-top: -10px;
	padding-left: 1.5em;
}

.leaflet-popup-content {
	overflow: overlay;
}

.leaflet-popup-content > table {
	border-collapse: separate;
    border-spacing: 2px;
}

.leaflet-popup-content > table th, .leaflet-popup-content > table td {
	padding: 2px .25em;
}

.leaflet-popup-content > table th {
	background-color: whitesmoke;
	vertical-align: top;
}

.top-margin-zero {
	margin-top: 0;
}


.bottom-margin-zero {
	margin-bottom: 0;
}

.viz-share-url {
	font-size: 75%;
	opacity: 0.7;
	margin-bottom: 0.5em;
	margin-top: -0.5em;
	display: none;
}

div.null_field {
	display: none;
}

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

/* to prevent select2 inserting line break in form-inline */
form.form-inline span.select2.select2-container {
    min-width: 275px !important;
    width: auto !important;
}

.tab-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.nav.nav-tabs a {
    font-size: larger;
}

div.leaflet-control-layers-overlays label {
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
    margin: 0;
}

.no-padding {
	padding: 0;
}

/* prevent leaflet controls from overlapping the menu dropdown. */
.dropdown-menu {
	z-index: 999999 !important;
}

#global-search-box {
	width: 100px
}

.scroll-top {
	display: none;
}

/* highlight global search results */
span.hl {
    background-color: yellow;
    font-weight: bold;
}

@media print {
	/* remove the explicit hyperlinks in print view */
	a[href]:after {
		content: none !important;
	}
}

#show_null_fields {
	margin-top: 10px;
}

.field-group-rowset .row:not(:first-child) {
	margin-top: .5em;
}

.help-block.remaining-chars {
	display: none;
}

/* for debug_log() output */
.pre-string {
	color: darkred;
}
.pre-number {
	color: darkgreen;
}
.pre-key {
	color: darkblue;
	font-weight: bold;
}
.pre-bool {
	color: darkorange;
	font-style: italic;
}
.pre-null {
	color: dimgray;
	font-style: italic;
}
.pre-any {	
}